
/* Header section css here  */

.header-fixed {
  background-color: #fff;
  height: 100%;
  color: #fff;
  top: -100px;
  -webkit-transition: top 0.3s;
     -moz-transition: top 0.3s;
      -ms-transition: top 0.3s;
       -o-transition: top 0.3s;
          transition: top 0.3s;
  -webkit-box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
     -moz-box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
      -ms-box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
       -o-box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
          box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);

}
.header-fixed .header-limiter {
  padding: 21px 16px 12px 13px;
  align-items: center;
  justify-content: space-between;
}
.header-fixed-placeholder{
  height: 80px;
  display: none;
}
body.fixed .header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 55px;
  padding: 10px 40px;
}
body.fixed .header-fixed .header-limiter h1 {
  font-size: 24px;
  line-height: 30px;
}

/* Navigation css here */

.nav_menu_toggler_icon{
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 2.3%;
  background: none;
  color: #fff;
  font-size: 25px;
  z-index: 150;
  display: none;
  border: none;
}
.navbar__link {
  padding-right: 8px;
}
.navbar__items--right {
  margin-left: auto;
}
.navbar__items {
  margin-top: -10px;
}
.navbar__link-toggle {
  display: none;
}
.navbar__items .nav-menu li {
  list-style:none;
  display:inline-block;
}
.navbar__items .nav-menu li a {
  font-family: 'Poppins', sans-serif;
  color: #202428;
  font-size: 15px;
  font-weight: 400;
  margin: 0 12px;
  letter-spacing: 0.5px;
  text-decoration: none; 
}
.navbar__items .sub-menu {
  padding: 10px;
  background: #000;
  width: 190px;
  display: none;
  z-index: 9;
  position:absolute;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}
.navbar__items li:hover .sub-menu{
  display: block;
}
.navbar__items .sub-menu li {
  display: block;
  margin: 10px 0;
}
.navbar__items .sub-menu li a {
  color: #fff;
  font-size:15px;
}
.navbar__items .nav-menu li a:hover,
.navbar__items .nav-menu li.active a {
  color: #05b993;
}

/* Search section css her */

.search-section{
  margin-bottom: 4px;
}
.form-section input {
  padding: 12px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  max-width: 210px;
  color: #000;
  border: 0;
  letter-spacing: 1px;
  outline: none;
  background: #f7f7f7;
}
.form-section button {
  cursor: pointer;
  padding: 10px 15px;
  background: #05b993;
  font-size: 14px;
  margin-right: 16px;
  border: none;
  color: #fff;
}
.download{
  display: table;
}
.download a {
  width: 42px;
  height: 42px;
  font-size: 14px;
  color: #fff;
  background: #705ecf;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}
body.fixed .header-fixed .header-limiter {
  position: relative;
  bottom: 27px;
}
body.fixed .header-limiter .logo a img {
  height: 38px;
  margin-top: 3px;
}
body.fixed .header-limiter .form-section input,
body.fixed .header-limiter .form-section button {
  padding: 0 15px;
  height: 33px;
}
body.fixed .header-fixed .header-limiter .download a {
  height: 33px;
  width: 33px;
  font-size: 14px;
}

/* Making the header responsive */

@media all and (max-width: 1169px) {
  .header-fixed .form-section {
    display: none;
  }
  .header-fixed .header-limiter {
    padding: 21px 0px 12px 0px;
  }
}


@media only screen and (max-width: 768px) {
  .navbar__items,
  .navbar {
      flex-direction: column;
  }
  .navbar__items {
      display: none;
  }
  .navbar__items--right {
      margin-left: 0;
  }
  .navbar__toggleshow {
      display: flex;
  }
  .navbar__link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
  } 
  .header-fixed .header-limiter {
    padding: 12px 0;
  }
  body.fixed .header-fixed .header-limiter {
    bottom: 22px;
    padding: 10px;
  }
  body.fixed .header-fixed {
    height: 45px;
    padding: 10px 0;
  }
  body.fixed .header-fixed .nav_menu_toggler_icon {
    top: 16px;
  }
  body.fixed .header-fixed .nav_menu_toggler_icon span {
    font-size: 27px;
  }
  body.fixed .header-fixed .header-limiter .menu-container ul {
    background-color: #fff;
    height: 100%;
    color: #fff;
    margin-top: 9px;
    padding: 10px;
    position: relative;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
    -webkit-box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
    -moz-box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
    -ms-box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
    -o-box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
    box-shadow: 0.33333px 0 17px rgba(87, 87, 87, 0.1);
  }
  .nav_menu_toggler_icon {
      display: block;
      outline: none;
  }
  .nav_menu_toggler_icon span {
    font-size: 32px;
  }
  .menu-container .manu{
    display: none;
  }
  .header-fixed .header-limiter{
    display: block;
  }
  .navbar__items .nav-menu li {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }
  .navbar__items .nav-menu li a {
    font-size: 14px;
  }
  
}
